.arrow {
    font-size: 20px;
width:20px}


  /* .btn-warning {
    position: relative;
    
    
    align-items: center;
  justify-content: center;
  }
  
  .btn-warning .arrow {
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    color: #fff; 
  } */
 .card-text-get{
    font-size: 12px;
 }