.navbar1{
    background-color:white;
    /* box-shadow: 0cap; */
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    /* border-bottom-width: 50px ;
    border-top-width: 100px; */
    /* width: 70px;
    height: 50px; */
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    /* transform: perspective(2px) rotateX(-15deg); */
}
.navbar2{
    background-color: rgb(97, 200, 225);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0);
    clip-path: polygon(3% 0%, 105% 0%, 108% 148%, -1% 137%);
}
.nav-card{
    padding: 6px ;
    box-shadow: none;
}
